body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.basic-block{
    padding: 50px 0;
    text-align: center;
}

.head-block{
    background-image: url("../img/backgroundImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 530px;
    padding-left: 190px;
    padding-bottom: 145px;
    color: #ffffff;
}

.head-block-title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.head-block-subtitle{
    margin: 0 0 25px;
    font-size: 18px;
}

.head-block-slogan{
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 45px 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px white solid;
}

.slogan-margin{
    margin-right: 50px;
}

.yellow-text{
    color: #f1ad1d;
}

.basic-title{
    color: #333333;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 700;
}

.basic-subtitle{
    font-size: 17px;
}

.orange-line{
    margin: 50px auto;
    border: 2px solid #f1b128;
    width: 60px;
}

.web-award-image {
    margin: 0 auto;
    width: 280px;
    height: 190px;
    background: url(../img/webAward@1X.png) no-repeat;
}

.navbar-logo{
    display: inline-block;
    width: 10%;
    font-size: 36px;
    color: #f1b128;
    font-weight: 700;
    vertical-align: middle;
}

nav.container{
    text-transform: uppercase;
}

.navbar-menu{
    display: inline-block;
    width: 89%;
    text-align: right;
    list-style: none;
    vertical-align: middle;
}

.navbar-menu-item{
    display: inline;
    padding-right: 60px;
}

.navbar-menu-link{
    font-size: 18px;
    text-decoration: none;
    color: #333333;
}

.long-orange-line{
    margin: 22px auto;
    border: 2px solid #f1b128;
    width: 100%;
    margin-bottom: 70px;
}

.left-offer{
    display: inline-block;
    width: 49%;
}

.right-offer{
    display: inline-block;
    width: 49%;
}
.offer-headline{

}

.offer-p{

}

.offer-button{}